#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-dark-gray;
  margin: auto;
  padding-top: 4rem;
  width: 80rem;
  height: 100vh;
  max-height: 100vh;
}
