button[disabled] {
  cursor: not-allowed;
}

.btn {
  background-color: transparent;

  &:not([disabled]) {
    color: $color-black;
    
    &:hover {
      &.success {
        color: $color-white;
        background-color: $color-green;
      }
      
      &.danger {
        color: $color-white;
        background-color: $color-red;
      }
    }
  }
  
  &[disabled] {
    color: $color-light-gray;
    border-color: $color-light-gray;
  }
}
