@mixin full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin elevate-on-interact {
  &:hover {
    transform: translateY(-10%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-5%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

@mixin space-children-vertically($margin) {
  :not(:last-child) {
    margin-bottom: $margin;
  }
}

@mixin space-children-horizontally($margin) {
  :not(:last-child) {
    margin-right: $margin;
  }
}