$color-white: rgba(255, 255, 255);
$color-black: rgba(0, 0, 0);
$color-green: rgba(50, 206, 30, 0.993);
$color-red: rgba(214, 33, 33, 0.993);
$color-light-gray: rgb(161, 161, 161);
$color-dark-gray: hsl(210, 29%, 24%);
$color-light-blue: rgb(113, 228, 248);
