<template>
  <div class="container">
    <input
      class="nes-input"
      type="text"
      v-model="author"
      placeholder="Author"
      :disabled="frozen"
    />
    <input
      class="nes-input"
      type="text"
      v-model="title"
      placeholder="What did he do?"
      @keyup.enter="addBagiana"
      :disabled="frozen"
    />
    <button :class="{'nes-btn': true, 'is-disabled': frozen}" @click="addBagiana" :disabled="frozen">
      +
    </button>
  </div>
</template>

<script>
export default {
  props: {
    frozen: Boolean,
  },
  data: () => ({
    author: "",
    title: "",
  }),
  methods: {
    addBagiana() {
      if (this.author == "" || this.title == "") return;
      this.$emit("add-bagiana", { author: this.author, title: this.title });
      this.author = "";
      this.title = "";
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  @include space-children-horizontally(2rem);
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;

  input[disabled] {
    background-color: lighten($color-light-gray, 20%);
  }

  button {
    padding: 0;
    margin: 0;
    font-size: 3.2rem;
    line-height: 1em;
    
  }
}
</style>
