<template>
  <div class="container">
    <h1>Join a room</h1>
    <div class="form">
      <input
        type="text"
        v-model="roomName"
        placeholder="Room name"
        @keyup.enter="enter"
      />
      <button class="nes-btn is-success" @click="enter">Enter</button>
    </div>
  </div>
</template>

<script>
import { ROOM_NAME_REGEX } from "../config/config";

export default {
  data: () => ({
    roomName: "",
  }),
  methods: {
    enter() {
      if (this.roomName.match(ROOM_NAME_REGEX)) {
        this.$emit("room-selected", { name: this.roomName });
      } else {
        alert(
          "Please insert a valid room name (only letters, numbers and spaces are allowed)."
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  @include space-children-vertically(8rem);
}

.form {
  @include space-children-horizontally(2rem);
}

input {
  border: 4px solid $color-black;
  padding: 1rem;
}

button {
  padding: 0.8rem;
}
</style>
