<template>
  <ul>
    <transition-group name="bagiana" tag="div">
      <li
        v-for="bagiana in bagianas"
        :key="bagiana.id"
        :class="{
          voted: votedId === bagiana.id,
          winner: showFullData && winnerId === bagiana.id,
        }"
      >
        <p :class="{ winner: showFullData && winnerId === bagiana.id }">
          {{ bagiana.title }}
          <span :hidden="!showFullData">{{ ` (${bagiana.author})` }}</span>
        </p>
        <div class="buttons">
          <button
            :class="{ 
              'nes-btn': true, 
              'is-success': votedId !== bagiana.id,
              'is-disabled': votedId === bagiana.id || frozen, 
              voted: votedId === bagiana.id
            }"
            @mouseup="vote(bagiana.id)"
            :disabled="votedId === bagiana.id || frozen"
          >
            {{ votedId === bagiana.id ? "Voted" : "Vote" }}
          </button>
          <button
            :class="{'nes-btn': true, 'is-error': true, 'is-disabled': frozen}"
            @mouseup="_delete(bagiana.id)"
            :disabled="frozen"
          >
            X
          </button>
        </div>
      </li>
    </transition-group>
  </ul>
</template>

<script>
export default {
  props: {
    bagianas: Array,
    votedId: String,
    frozen: Boolean,
    showFullData: Boolean,
    winnerId: String,
  },
  methods: {
    vote(id) {
      this.$emit("vote", { id });
    },
    _delete(id) {
      this.$emit("delete", { id });
    },
  },
};
</script>

<style lang="scss" scoped>
ul {
  padding-top: 0.5rem;
  text-align: start;
}
li {
  @include space-children-horizontally(2rem);
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  margin-bottom: 1rem;

  transition: all .1s;

  &.voted {
    border: 4px solid $color-green;
    padding: .3rem .8rem;
  }

  &.winner {
    border-radius: .5rem;
    color: $color-white;
    transition: background-color 1s;
    background-color: lighten($color-red, 5%);
    padding: .6rem 1rem;
    font-size: 2.2rem;
  }
}

.bagiana-enter,
.bagiana-leave-to {
  opacity: 0;
}

.bagiana-enter {
  transform: translateY(30%);
}

.bagiana-leave-to {
  transform: translateX(300%);
}

.bagiana-leave-active {
  position: absolute;
}

p {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;

  &.winner::before {
    content: "🏆 ";
  }
}
.buttons {
  @include space-children-horizontally(1rem);
}
button {
  font-size: 1.4rem;

  &:not(:last-child) {
    margin-right: .6rem;
  }

  &.voted {
    &::before {
      content: "✓";
      color: $color-green;
    }
  }
}
</style>
