<template>
  <div>
    <header class="bagiana">
      <BagianaAnimator
        v-if="isBagianaElected"
        :opponents="opponentNames"
        :winnerIndex="winnerIndex"
        :animate="isBagianaElected && !isElectionCompleted"
        @election-completed="completeElection"
      />
      <ElectBagiana
        v-else
        :votesNumber="votes.length"
        :allowedElection="isElectionAllowed"
        @elect="elect"
      />
    </header>
    <section class="bagianas">
      <BagianaList
        :bagianas="bagianas"
        :votedId="votedId"
        :frozen="isBagianaElected"
        :winnerId="winnerId"
        :showFullData="isElectionCompleted"
        @vote="vote"
        @delete="_delete"
      />
    </section>
    <footer>
      <AddBagianaForm
        :frozen="isBagianaElected"
        @add-bagiana="addBagiana($event)"
      />
      <UtilsForm
        :allowCopy="isElectionCompleted"
        @copy-to-clipboard="copyDataToClipboard"
        @clear-room="clearRoom"
      />
    </footer>
  </div>
</template>

<script>
import { MIN_VOTES } from "../config/config";
import { PENDING_VOTES, ELECTED, COMPLETED } from "../config/appStates";

import BagianaAnimator from "./BagianaAnimator.vue";
import ElectBagiana from "./ElectBagiana.vue";
import BagianaList from "./BagianaList.vue";
import AddBagianaForm from "./AddBagianaForm.vue";
import UtilsForm from "./UtilsForm.vue";
import extractWinner from "../util/extractWinner";
import copyDataToClipboard from "../util/copyDataToClipboard";

export default {
  props: {
    db: Object,
    userId: String,
  },
  data: () => ({
    state: PENDING_VOTES,
    bagianas: [],
    votes: [],
  }),
  methods: {
    addBagiana({ author, title }) {
      this.db.addBagiana(author, title);
    },
    vote({ id }) {
      this.db.vote(id);
    },
    _delete({ id }) {
      this.db.deleteBagiana(id);
    },
    elect() {
      this.db.updateState(ELECTED);
    },
    completeElection() {
      this.db.updateState(COMPLETED);
    },
    copyDataToClipboard() {
      copyDataToClipboard(this.bagianas);
    },
    clearRoom() {
      this.db.clearRoom();
    },
    registerToBagianasList() {
      this.db.onBagianasUpdate((bagianas) => (this.bagianas = bagianas));
    },
    registerToVotesList() {
      this.db.onVotesUpdate((votes) => (this.votes = votes));
    },
    registerToStateUpdate() {
      this.db.onStateUpdate((state) => (this.state = state));
    },
  },
  computed: {
    isElectionAllowed() {
      return this.votes.length >= MIN_VOTES;
    },
    isBagianaElected() {
      return [ELECTED, COMPLETED].includes(this.state);
    },
    isElectionCompleted() {
      return this.state === COMPLETED;
    },
    votedId() {
      const userVote = this.votes.find(
        ({ voterId }) => voterId === this.userId
      );

      return userVote?.bagianaId?.toString() || "-1";
    },
    opponentNames() {
      return this.bagianas.map(({ author }) => author);
    },
    winnerIndex() {
      const winnerId = this.winnerId;
      return this.bagianas.findIndex(({ id }) => id === winnerId);
    },
    winnerId() {
      const votedBagianaIds = this.votes.map(({ bagianaId }) => bagianaId);
      return extractWinner(votedBagianaIds);
    },
  },
  created() {
    this.registerToBagianasList();
    this.registerToVotesList();
    this.registerToStateUpdate();
  },
  components: {
    BagianaAnimator,
    ElectBagiana,
    BagianaList,
    AddBagianaForm,
    UtilsForm,
  },
};
</script>

<style lang="scss">
.bagiana {
  height: 32vh;
}

.bagianas {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 40vh;
}
</style>
