<template>
  <div class="bagiana">
    <h1 class="bagiana__name">{{ displayedName }}</h1>
    <canvas id="confetti" class="bagiana__background" />
  </div>
</template>

<script>
import Confetti from "canvas-confetti";
import BagianaSelectionAnimator from "../util/BagianaSelectionAnimator";

export default {
  props: {
    opponents: Array,
    winnerIndex: Number,
    animate: Boolean,
  },
  data: () => ({
    displayedName: "",
  }),
  created() {
    this.displayBagiana(this.animate);
  },
  methods: {
    displayBagiana(animated) {
      if(animated) {
        this.animateBagiana()
      } else {
        this.displayedName = this.opponents[this.winnerIndex];
      }
    },
    animateBagiana() {
      new BagianaSelectionAnimator(this.opponents, this.winnerIndex)
        .onNameEmitted((name) => (this.displayedName = name))
        .onEnd(this.completeElection)
        .start();
    },
    completeElection() {
      this.spawnConfetti();
      setTimeout(() => this.$emit("election-completed"), 1000);
    },
    spawnConfetti() {
      setTimeout(() => {
        const canvas = document.getElementById("confetti");
        const confetti = Confetti.create(canvas, { useWorker: true });
        confetti({
          particleCount: 500,
          spread: 50,
          origin: { y: 1 },
          gravity: 0.5,
          ticks: 300,
          scalar: 0.5,
        });
      }, 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 5rem;
}

.bagiana {
  position: relative;

  &__name {
    width: 100%;
    height: 100%;

    position: absolute;
    text-align: center;
    margin: auto;
    z-index: -2;
  }

  &__background {
    width: 100%;
    height: 100%;

    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}
</style>