<template>
  <div class="container">
    <button :class="btnClass" @mouseup="elect" :disabled="!allowedElection">Elect bagiana!</button>
    <p class="votes-number">{{votesNumber}} {{votesString}}</p>
  </div>
</template>

<script>
export default {
  props: {
    votesNumber: Number,
    allowedElection: Boolean
  },
  methods: {
    elect() {
      this.$emit('elect');
    }
  },
  computed: {
    votesString() {
      return this.votesNumber === 1 ? 'vote' :'votes';
    },
    btnClass() {
      return {
        'elect': true,
        'nes-btn': true,
        'is-primary': this.allowedElection,
        'is-disabled': !this.allowedElection
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  align-self: center;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;

  @include space-children-vertically(1rem);
}
.votes-number {
  font-size: 2.2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.elect {
  font-size: 2.6rem;
  padding: 1rem 2.4rem;

  &[disabled] {
    color: darken($color-light-gray, 25%);
    // background-color: $color-light-gray;
  }
}
</style>
