<template>
  <div :hidden="!visible">
    <div class="overlay"></div>
    <div class="nes-dialog">
      <p>{{ message }}</p>
      <div class="buttons">
        <button
          class="nes-btn is-error"
          @click="cancel"
          v-if="mode === 'confirm'"
        >
          Cancel
        </button>
        <button class="nes-btn is-primary" @click="confirm">Okay</button>
      </div>
    </div>
  </div>
</template>

<script>
const ALERT_MODE = "alert";
const CONFIRM_MODE = "confirm";

export default {
  name: "Modal",
  data: () => ({
    mode: ALERT_MODE,
    visible: false,
    message: "Message",
  }),
  created() {
    this.registerGlobally();
  },
  methods: {
    showAlertModal(message) {
      this.show(message, ALERT_MODE);
    },
    showConfirmModal(message) {
      this.show(message, CONFIRM_MODE);
      return new Promise((resolve, reject) => {
        this.acceptCallback = resolve;
        this.cancelCallback = reject;
      });
    },
    confirm() {
      this.acceptCallback?.call();
      this.hide();
    },
    cancel() {
      this.cancelCallback?.call();
      this.hide();
    },
    show(message, mode) {
      this.mode = mode;
      this.message = message;
      this.visible = true;
    },
    hide() {
      this.visible = false;
    },
    registerGlobally() {
      window.alert = (message) => this.showAlertModal(message);
      window.confirm = (message) => this.showConfirmModal(message);
    },
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  @include full-screen;
  background-color: black;
  opacity: 0.3;
}

.nes-dialog {
  @include center-absolute;
  padding: 3rem;
  border: 4px solid black;
  background-color: $color-white;
}

.buttons {
  @include space-children-horizontally(2rem);
  margin-top: 2rem;
}
</style>
