<template>
  <div class="container">
    <button :class="{'nes-btn': true, 'is-disabled': !allowCopy}" @click="copyDataToClipboard" :disabled="!allowCopy">
      <span><i class="far fa-copy"></i></span>
      Copy data to clipboard
    </button>
    <button class="nes-btn is-error" @click="clearRoom">
      <span><i class="far fa-trash-alt"></i></span>
      Clear room
    </button>
  </div>
</template>

<script>
export default {
  props: {
    allowCopy: Boolean
  },
  methods: {
    clearRoom() {
      confirm("Do you want to clear this room?")
        .then(() => this.$emit("clear-room"))
        .catch(() => {/* ignore */})
    },
    copyDataToClipboard() {
      this.$emit("copy-to-clipboard");
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  @include space-children-horizontally(1rem);
}

button {
  font-size: 1.4rem;
}
</style>