<template>
  <div id="app">
    <BagianaContest v-if="roomSelected" :db="db" :userId="userId" />
    <BagianaRoomSelector v-else @room-selected="joinRoom" />
    <Modal />
  </div>
</template>

<script>
import { DEBUG } from './config/config';
import BagianaContest from "./components/BagianaContest.vue";
import BagianaRoomSelector from "./components/BagianaRoomSelector.vue";
import Modal from "./components/Modal.vue";
import DatabaseFactory from "./db/DatabaseFactory";
import getUserId from "./util/getUserId";
import getRoomName from "./util/getRoomName";
import joinOrCreateRoom from "./util/joinOrCreateRoom";

const roomName = getRoomName();
const userId = getUserId();

export default {
  name: "App",
  data: () => ({
    db: null,
    userId,
    roomName,
  }),
  created() {
     if (this.roomSelected) {
      try {
        this.db = new DatabaseFactory(DEBUG).create(roomName, userId);
        this.db.connect();
      } catch {
        alert(
          "Could not connect to firebase, please ping the maintainer and consider adding a bagiana for him."
        );
      }
    }
  },
  methods: {
    joinRoom({ name }) {
      joinOrCreateRoom(name);
    },
  },
  computed: {
    roomSelected() {
      return this.roomName != null;
    },
  },
  components: {
    BagianaContest,
    BagianaRoomSelector,
    Modal
  },
};
</script>

<style lang="scss">
@import "styles/global.scss";
</style>
