@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this defines 1rem = 10px (default font-size is usually 16px) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

button {
  border: none;

  &:focus {
    outline: 0;
  }
}

input {
  border: none;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    background-color: transparent;
  }
}
